

.socials-container
{
  /* background: url('/images/img-home.jpg') center center/cover no-repeat;*/
  height:100vh;
    width:100%;
    display: flex;
    flex-direction:column;
    content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.socials 
{
   margin: auto;
   position: relative;
   margin-bottom: 25px;
   width: 15%;
   border: 5px;
   padding: 10px;
   
   
}

